body {
  background-image: url('https://i.pinimg.com/564x/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg');
  background-size: auto;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 90%;
  margin-inline-start: auto;
  margin-left: 5px;
}

.title {
  background-image: url('/starwars.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: transparent;
  font-size: 300%;
  text-align: center;
}

.filter-planets {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
}

.table {
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 10px;
}

th {
  background-color: rgba(255, 255, 255, 0.315);
  padding: 0%;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.856);
  border-right: 1px solid rgba(0, 0, 0, 0.856);
  text-align: center;
}
